.calt-main-div {
    border: 1px solid red;
    /* width: 500px; */
    /* height: 500px; */
}

.calt-main-div .calt-text-div {
    width: 100%;
}

.calt-text-div .input {
    width: 100%;
    height: 10vw;
    background: #8a8a8a65;
    text-align: end;
    padding: 0px 20px 10px 0px;
    font-size: 6vw;
    color: #000000;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    
}

.calt-main-div .calt-div {
    background: #414141;
    display: grid;
    justify-content: center;
    direction: rtl;
    grid-template-columns: 25% 75%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.calt-div .calt-num {
    display: grid;
    justify-content: center;
    align-items: center;
    direction: ltr;
    grid-template-columns: 33% 33% 33%;
}

.calt-div .calt-opr button{
    margin: 0.1vw;
    /* height: 7vw; */
    /* width: 9vw; */
    width: 100%;
    font-size: 2.3vw;
    background: #ec9428;
    border: none;
    border-radius: 4px;
    
}
button{
    margin: 0.1vw;
    height: 7vw;

    /* width: 9vw; */
    font-size: 2.3vw;
    background: #c9c9c9;
    border: none;
    border-radius: 4px;

}