* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    color: #cfcfcf;
}

h1 {
    position: relative;
    font-size: 100px;
}


.tab-top-container {
    position: absolute;
    background: #4b2424;
    border-radius: 10px;
    margin: 5px;
    min-width: 30vw !important;
    max-width: 99vw !important;
    cursor: default !important;
    min-height: 20vw !important;
    max-height: 60vw !important;
}





/* ----------------- */



.nav-tab {
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 9px;
    cursor: default;
    background: #353535;
}

.tab-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.nav-tab .tab-icons .icon-1 {
    background: #F05057;
    border-radius: 50%;
    height: 16.5px;
    width: 16.5px;
    cursor: default;
    text-align: center;
}

.nav-tab .tab-icons .icon-2 {
    background: #F8C338;
    border-radius: 50%;
    height: 16.5px;
    width: 16.5px;
    cursor: default;
    text-align: center;
}

.nav-tab .tab-icons .icon-3 {
    background: #3AE64B;
    border-radius: 50%;
    height: 16.5px;
    width: 16.5px;
    cursor: default;
    text-align: center;

}

.nav-tab .tab-icons .icons {
    height: 16.5px;
    width: 16.5px;
    font-size: 20px;
    font-weight: 900;
    padding: 2px;
    opacity: 0;
    transition: all 0.3s ease-in-out;

}

.nav-tab .tab-icons .icon-3 .icons {
    rotate: 140deg;
}

.nav-tab .tab-icons .icons:hover {
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}