* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  height: 100%;
  width: 100%;
  color: #cfcfcf;
  scrollbar-width: none;

  
}


.appJsx-image {
  
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}



/* Home.jsx */

.desktop-view .mac-nav .logo-navigators .apple_logo {
  width: 20px;
  cursor: default;

}

.desktop-view .mac-nav {
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 33px;
  background: #5e5e5e27;
  cursor: default;
  backdrop-filter: blur(5px);
}

.desktop-view .mac-nav .logo-navigators {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 17px;
}

.icons-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.wifi-time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.desktop-view .mac-nav .wifi-time .icons-div .control {

  height: 17px;
}

.desktop-view .mac-nav .wifi-time .icons-div .wifi {

  height: 20px;
}

.desktop-view .mac-nav .wifi-time .icons-div .search {
  height: 23px;
}

