* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  height: 100%;
  width: 100%;
  color: #cfcfcf;
}












/* Home.jsx */

.desktop-view .mac-nav .logo-navigators .apple_logo {
  width: 20px;
  cursor: default;

}

.desktop-view .mac-nav {
  padding: 0 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 33px;
  background: #5e5e5e27;
  cursor: default;
  backdrop-filter: blur(5px);
}

.desktop-view .mac-nav .logo-navigators {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 17px;
}

.icons-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.wifi-time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.desktop-view .mac-nav .wifi-time .icons-div .control {

  height: 17px;
}

.desktop-view .mac-nav .wifi-time .icons-div .wifi {

  height: 20px;
}

.desktop-view .mac-nav .wifi-time .icons-div .search {
  height: 23px;
}














/* Windows.jsx */

.desktop-view {
  background: #0a0a0a;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: -1;
  overflow: hidden;

}

.container-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: relative;
  /* background: #751223; */
}

.nav-tab {
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 9px;
  cursor: default;
  background: #222222;
}

.tab-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.nav-tab .tab-icons .icon-1 {
  background: #F05057;
  border-radius: 50%;
  height: 16.5px;
  width: 16.5px;
  cursor: default;
  text-align: center;
}

.nav-tab .tab-icons .icon-2 {
  background: #F8C338;
  border-radius: 50%;
  height: 16.5px;
  width: 16.5px;
  cursor: default;
  text-align: center;
}

.nav-tab .tab-icons .icon-3 {
  background: #3AE64B;
  border-radius: 50%;
  height: 16.5px;
  width: 16.5px;
  cursor: default;
  text-align: center;

}

.nav-tab .tab-icons .icons {
  height: 16.5px;
  width: 16.5px;
  font-size: 20px;
  font-weight: 900;
  padding: 2px;
  opacity: 0;
  transition: all 0.3s ease-in-out;

}

.nav-tab .tab-icons .icon-3 .icons {
  rotate: 140deg;
}

.nav-tab .tab-icons .icons:hover {
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.close-tab-container {
  display: none;
}

.container-div .maximize-tab-container {
  width: 99% !important;
  height: 90vh !important;
  transition: 0.2s;
  background: #750e0e;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px #00000080;
  cursor: default;
  max-width: max-content;
  border-radius: 10px;
  text-overflow: ellipsis;
}

.container-div .maximize-tab-container-cursize {
  background: #384d66;
  width: 99%;
  height: 100px;
  transition: 0.1s;
  min-width: 25vw;
  max-width: 99vw !important;
  min-height: 25vh;
  max-height: 95vh !important;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px #00000080;
  cursor: default !important;
  border-radius: 10px;
  text-overflow: ellipsis;
}

.zIndexclick {
  position: relative !important;
  top: 0 !important;
  z-index: 111 !important;
  background: #317531;
}