* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  color: #cfcfcf;
}


/* Home.jsx */

.desktop-view {
  background: #0a0a0a;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: -1;
  overflow: hidden;

}

.container-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: relative;
  /* background: #751223; */
}

.nav-tab {
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 9px;
  cursor: default;
  background: #222222;
}

.tab-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.nav-tab .tab-icons .icon-1 {
  background: #F05057;
  border-radius: 50%;
  height: 16.5px;
  width: 16.5px;
  cursor: default;
  text-align: center;
}

.nav-tab .tab-icons .icon-2 {
  background: #F8C338;
  border-radius: 50%;
  height: 16.5px;
  width: 16.5px;
  cursor: default;
  text-align: center;
}

.nav-tab .tab-icons .icon-3 {
  background: #3AE64B;
  border-radius: 50%;
  height: 16.5px;
  width: 16.5px;
  cursor: default;
  text-align: center;

}

.nav-tab .tab-icons .icons {
  height: 16.5px;
  width: 16.5px;
  font-size: 20px;
  font-weight: 900;
  padding: 2px;
  opacity: 0;
  transition: all 0.3s ease-in-out;

}

.nav-tab .tab-icons .icon-3 .icons {
  rotate: 140deg;
}

.nav-tab .tab-icons .icons:hover {
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.close-tab-container {
  display: none;
}

.maximize-tab-container {
  width: 99% !important;
  height: 95% !important;
  transition: 0.2s;
  background: #1a1a1a;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px #00000080;
  cursor: default;
  max-width: max-content;
  border-radius: 10px;
  text-overflow: ellipsis;
}

.maximize-tab-container-cursize {
  /* background: #7c2f2f; */
  width: 99%;
  transition: 0.1s;

  background: #1a1a1a;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px #00000080;
  cursor: default;
  max-width: max-content;
  border-radius: 10px;
  text-overflow: ellipsis;
}

.zIndexclick {
  position: relative;
  z-index: 1;
  background: green;
}